<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HTML</title>
  <meta name="description" content="HTML">
  <meta name="author" content="VJ Miyagi">

  </head>
<h1>Welcome to Medical Marijuana</h1>
<body>
  <form action="/recommendation" method="post">
    <div role="main" class="form-all">
      <ul class="form-section page-section">
        <li id="cid_1" class="form-input-wide" data-type="control_head">
          <div class="form-header-group  header-large">
            <div class="header-text httal htvam">
              <h1 id="header_1" class="form-header" data-component="header">
                Medical Marijuana Strain Recommendations
              </h1>
            </div>
          </div>
        </li>
        <li class="form-line" data-type="control_dropdown" id="id_3">
          <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> Select a species </label>
          <div id="cid_3" class="form-input-wide" data-layout="half">
            <select class="form-dropdown" id="input_3" name="q3_selectA" style="width:310px" data-component="dropdown" aria-labelledby="label_3">
              <option value=""> Please Select </option>
              <option value="sativa"> sativa </option>
              <option value="indica"> indica </option>
              <option value="hybrid"> hybrid </option>
            </select>
          </div>
        </li>
        <li class="form-line" data-type="control_dropdown" id="id_4">
          <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> Select desired effect </label>
          <div id="cid_4" class="form-input-wide" data-layout="half">
            <select class="form-dropdown" id="input_4" name="q4_selectDesired" style="width:310px" data-component="dropdown" aria-labelledby="label_4">
              <option value=""> Please Select </option>
              <option value="aroused"> aroused </option>
              <option value="creative"> creative </option>
              <option value="dry"> dry </option>
              <option value="energetic"> energetic </option>
              <option value="euphoric"> euphoric </option>
              <option value="focused"> focused </option>
              <option value="giggly"> giggly </option>
              <option value="happy"> happy </option>
              <option value="hungry"> hungry </option>
              <option value="mouth"> mouth </option>
              <option value="none"> none </option>
              <option value="relaxed"> relaxed </option>
              <option value="sleepy"> sleepy </option>
              <option value="talkative"> talkative </option>
              <option value="tingly"> tingly </option>
              <option value="uplifted"> uplifted </option>
            </select>
          </div>
        </li>
        <li class="form-line" data-type="control_dropdown" id="id_6">
          <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6"> Select flavor attribute </label>
          <div id="cid_6" class="form-input-wide" data-layout="half">
            <select class="form-dropdown" id="input_6" name="q6_selectFlavor" style="width:310px" data-component="dropdown" aria-labelledby="label_6">
              <option value=""> Please Select </option>
              <option value="ammonia"> ammonia </option>
              <option value="apple"> apple </option>
              <option value="apricot"> apricot </option>
              <option value="berry"> berry </option>
              <option value="blue"> blue </option>
              <option value="blueberry"> blueberry </option>
              <option value="butter"> butter </option>
              <option value="cheese"> cheese </option>
              <option value="chemical"> chemical </option>
              <option value="chestnut"> chestnut </option>
              <option value="citrus"> citrus </option>
              <option value="coffee"> coffee </option>
              <option value="diesel"> diesel </option>
              <option value="earthy"> earthy </option>
              <option value="flowery"> flowery </option>
              <option value="fruit"> fruit </option>
              <option value="grape"> grape </option>
              <option value="grapefruit"> grapefruit </option>
              <option value="honey"> honey </option>
              <option value="lavender"> lavender </option>
              <option value="lemon"> lemon </option>
              <option value="lime"> lime </option>
              <option value="mango"> mango </option>
              <option value="menthol"> menthol </option>
              <option value="mint"> mint </option>
              <option value="minty"> minty </option>
              <option value="none"> none </option>
              <option value="nutty"> nutty </option>
              <option value="orange"> orange </option>
              <option value="peach"> peach </option>
              <option value="pear"> pear </option>
              <option value="pepper"> pepper </option>
              <option value="pine"> pine </option>
              <option value="pineapple"> pineapple </option>
              <option value="plum"> plum </option>
              <option value="pungent"> pungent </option>
              <option value="rose"> rose </option>
              <option value="sage"> sage </option>
              <option value="skunk"> skunk </option>
              <option value="spicy/herbal"> spicy/herbal </option>
              <option value="strawberry"> strawberry </option>
              <option value="sweet"> sweet </option>
              <option value="tar"> tar </option>
              <option value="tea"> tea </option>
              <option value="tobacco"> tobacco </option>
              <option value="tree"> tree </option>
              <option value="tropical"> tropical </option>
              <option value="vanilla"> vanilla </option>
              <option value="violet"> violet </option>
              <option value="woody"> woody </option>
            </select>
          </div>
        </li>
        <li class="form-line" data-type="control_button" id="id_2">
          <div id="cid_2" class="form-input-wide" data-layout="full">
            <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
              <button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                Submit
              </button>
            </div>
          </div>
        </li>
        <li style="display:none">
          Should be Empty:
          <input type="text" name="website" value="" />
        </li>
      </ul>
    </div>
  </form>
  
</body>
</html>